$theme-colors: (
    "primary": #521751,
    "danger": #b80c03
);

$border-radius: 8rem;

@import "node_modules/bootstrap/scss/bootstrap";

form.main-form {
    width: 300px;
    margin: auto
}